<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script>
    function getRandom(){
      return parseInt(Math.random() * 30)
    }
  </script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>

<body>
  <!-- This is gonna be the menu -->
  <header>
    <nav>
      <div class="nav-wrapper indigo">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Search </a></li>
        </ul>
      </div>
    </nav>

  </header>

  <div class="row">
    {% for a  in users %}
    <div class="col s12 m6 l4 xl3">
      <div class="card " style="background: {{colors[a['id']]}}">
        <div class="card-content white-text">
          <span class="card-title"> {{a["name"]}}</span>
          <p><b>Contact Info</b><br>
            <ul>
              <li> <b> email </b>: {{a["email"]}} </li>
              <li> <b> phone </b>: {{a["phone"]}} </li>
              <li> <b> website </b>: {{a["website"]}} </li>
            </ul>
           </p>
        </div>
        <div class="card-action">
          <a href="#">Posts</a>
          <a href="#">Comments</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="{{url_for('static',filename='logic/requestUsers.js')}}"></script>
</body>

</html>
